<div class="cdx-modal">
    <h2 class="cdx-modal-title">{{ data.title }}</h2>
    <p class="cdx-modal-message">{{ data.message }}</p>
    <div class="cdx-modal-actions">
        <button mat-button type="button" (click)="close(false)">{{ data.cancelLabel }}</button>
        <button
            mat-flat-button
            type="button"
            [class.cdx-modal-danger]="data.danger"
            (click)="close(true)"
        >
            {{ data.confirmLabel }}
        </button>
    </div>
</div>
